@import "./base.css";
@import "./tailwind.css";

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.4s ease;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgb(var(--color-primary) / 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    overflow-y: scroll; /* Always show scrollbar to prevent layout shift */
  }
}
